<nav>

<%if (user){%>
    <a href="/users/<%=user._id%>/items">My Bag</a> 
    <a href="/users/<%=user._id%>/events">My Events</a>
    <a href="/allUsers/index">Hosts</a>
    <a href="/sign-out">Sign out</a> 
<% }  else {%>
    <a href="/auth/sign-in">Sign in</a> 
    <a href="/auth/sign-up">Sign up</a> 
<%}%>

</nav>