<link rel="stylesheet" href="/stylesheets/partials.css" />

<nav>

    <%if (user){%>
        <div class="navbar">
            <div class="navbar-left">
                <a href="/"><img id="logo-navbar"
                        src="https://raw.githubusercontent.com/Alicia-Brandewie/poppinss_bag/refs/heads/main/logo.jpg"
                        alt="Poppins's Bag logo: handbag shape made of red, orange, yellow horizontal stripes with a small teal bowtie" />
                </a>
                <a id="nav-header" href="/">Poppins's Bag</a>
            </div>

            <div class="nav-links">
                <a id=myBag href="/users/<%=user._id%>/items">My Bag</a>
                <a id=myEvents href="/users/<%=user._id%>/events">My Events</a>
                <a id=hosts href="/allUsers/index">Hosts</a>
                <a id=signOut href="/auth/sign-out">Sign out</a>
            </div>
        </div>

        <% } else {%>
            <div class="navbar">
                <a href="/auth/sign-in">Sign in</a>
                <a href="/auth/sign-up">Sign up</a>

            </div>
            <%}%>

</nav>