<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Poppins's Bag</title>
  </head>
  <body>
    <h1>Poppins's Bag</h1>

    <h2> The ever-expanding catalog for organizing all your event supplies & coordinating with other hosts</h2>

    <button type="submit"><a href="/auth/sign-in">Sign in</button>

    <button type="submit"><a href="/auth/sign-up">Sign up</button>
  </body>
</html>
