<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Poppins's Bag</title>
</head>

<body>
  <div class="index-container">
      <h1 class="main-header">Poppins's Bag</h1>

      <h2 class="sub-header"> The ever-expanding catalog for organizing all your event supplies & coordinating with
        other hosts</h2>
    
    <div class="auth-links">
      <button class="button-link" type="submit"><a href="/auth/sign-in">Sign in</button>

      <button class="button-link" type="submit"><a href="/auth/sign-up">Sign up</button>
      </div>
            <!-- <img src="../logo.jpg"> -->

  </div>

</body>

</html>