<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Poppins's Bag</title>
</head>

<body>
  <div class="index-container">
    <p class="main-header">Poppins's Bag</p>

    <p class="sub-header"> The ever-expanding catalog for organizing all your event supplies & coordinating with
      other hosts</p>

    <div class="button-link">
      <a id="in" type="submit" href="/auth/sign-in">Sign in</a>

      <a id="up" type="submit" href="/auth/sign-up">Sign up</a>
    </div>


  <img 
  class="logo-external" 
  src="https://raw.githubusercontent.com/Alicia-Brandewie/poppinss_bag/refs/heads/main/logo.jpg"
  alt="Poppins's Bag logo: handbag shape made of red, orange, yellow horizontal stripes with a small teal bowtie">
 
</div>

</body>

</html>