@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

.rammetto-one-regular {
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

Body {
    font-family: Arial;
    background-color: white;
}

h1, h2, h3, h4 {
     font-family: "Rammetto One";
}

.all-items-header {
     display: flex;
  font-weight: bold;
  font-size: 2vw;
  color:rgb(226, 83, 16);
  text-align: center;
  text-shadow: 0px 10px 5px lightgrey;
    margin: 1em;
    align-items: center;
        justify-content: space-between;
}

.button{
  font-size: vw;
  border-radius: 25px;
  width: 9em;
  height: 2em;
  text-align: center;
  background-color: rgb(226, 83, 16);
    border: none;
    color:white;
      font-weight: bold;

}

.button:hover {
  background-color: rgb(10, 171, 192);
}

/* .button:active {
    box-shadow:  0px 10px 8px lightgrey;
}  */

.all-items {
     display: flex;
  font-weight: bold;
  font-size: 3vw;
  text-align: center;
  text-shadow: 0px 10px 5px lightgrey;
    margin: 1em;
    align-items: center;
        justify-content: space-between;
}

.individual-item {
    padding: 10px;
  /* background-image: linear-gradient(to right, #d60a3d,  #e25310, #f3d10e); */
 /* background image = no hoover? we sure? */
  background-color: rgb(243, 209, 14) ;
  color: white;
  border-radius: 25px;
  border: none;
    font-size: 2vw;
 padding: 1vw;
}

.individual-item:hover {
  background-color: rgb(10, 171, 192);
}