/* @import url('https://fonts.googleapis.com/css2?family=Modak&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');


/* .modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 100;
  font-style: normal;
} */

/* .lemon-regular {
  font-family: "Lemon", serif;
  font-weight: 400;
  font-style: normal;
} */

/* .macondo-swash-caps-regular {
  font-family: "Macondo Swash Caps", cursive, Arial;
  font-weight: 400;
  font-style: normal;
} */
.rammetto-one-regular {
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

Body {
    font-family: Arial;
    background-color: white;
}

h1, h2, h3, h4 {
     font-family: "Rammetto One";
}

/* -------------------- Index --------------------*/
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-header {
 display: flex;
  font-weight: bold;
  font-size: 4vw;
  color: rgb(214, 10, 61);
  text-align: center;
  text-shadow: 0px 10px 5px lightgrey;
}

.sub-header {
  margin: 50px;
  font-size: 2vw;
  color: rgb(226, 83, 16);
  text-align: center;
    text-shadow: 0px 10px 8px lightgrey;

}

.index-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.auth-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button-link {
  font-size: 2vw;
  padding: 8px 0;
  border-radius: 25px;
  width: 10em;
  text-align: center;
  background-color: rgb(243, 209, 14)
}

.button-link:hover {
  background-color: rgb(10, 171, 192);
}

.button-link:active {
    box-shadow:  0px 10px 8px lightgrey;
} 

/* -------------------- Sign-in/Sign-up --------------------*/
.signin-container,
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 100%;
  background-color: rgb(243, 209, 14);
  justify-content: space-evenly;
  padding: 30px 40px 20px 40px;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  font-size: 2vw;
  margin: 20px 20px 60px 20px;
}

input {
  padding: 12px;
  border-radius: 30px;
  border-color: white;
}

.form-button {
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 30px;
  border: none;
  margin: 15px 0;
  font-size: 2vw;
}

.form-button:hover {
  background-color: rgb(37, 172, 191);
}

.form-button:active {
    box-shadow:  8px 10px 8px white;
} 


/* -------------------- Views_display-catalog --------------------*/

.all-items-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-items-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 90%;
  color:  rgb(173, 52, 83);
}

.add-item-link {
  padding: 10px;
  background-color: rgb(173, 52, 83);
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 1.1em;
  padding: 2px 25px;
  text-decoration: none;
}

.add-item-link:hover {
  background-color: #e84a6c;
