/* @import url('https://fonts.googleapis.com/css2?family=Modak&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');


/* .modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 100;
  font-style: normal;
} */

/* .lemon-regular {
  font-family: "Lemon", serif;
  font-weight: 400;
  font-style: normal;
} */

/* .macondo-swash-caps-regular {
  font-family: "Macondo Swash Caps", cursive, Arial;
  font-weight: 400;
  font-style: normal;
} */
.rammetto-one-regular {
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

Body {
  font-family: Arial;
  background-color: white;
}

/* -------------------- Index --------------------*/
.index-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5vw;
}

.main-header {
  display: flex;
  font-family: "Rammetto One";
  font-weight: bold;
  font-size: 4vw;
  margin: 1vw;
  color: rgb(214, 10, 61);
  text-align: center;
  text-shadow: 0px 10px 5px lightgrey;
}

.sub-header {
  font-family: "Rammetto One";
  margin: 1vw;
  font-size: 3vw;
  color: rgb(226, 83, 16);
  text-align: center;
  text-shadow: 0px 10px 8px lightgrey;
}


.button-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  justify-content: space-between;
}

#in:hover,
#up:hover,
#edit:hover, {
  background-color: rgb(10, 171, 192);
}

#in:active,
#up:active {
  box-shadow: 0px 10px 8px lightgrey;
}

#in,
#up, 
#edit {
  color: white;
  font-size: 3vw;
  padding: 1vw;
  border-radius: 3vw;
  width: 10em;
  text-align: center;
  margin: 3vw;
  background-color: rgb(243, 209, 14);
  border: none;
  justify-content: space-between;
  font-weight: bold;
}

/* -------------------- Sign-in/Sign-up --------------------*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-container,
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  /* height: 100%; */
  background-color: rgb(243, 209, 14);
  justify-content: space-evenly;
  padding: 02vw 2vw;
  border-radius: 3vw;
  color: black;
  font-weight: bold;
  font-size: 1vw;
  margin: 1vw 1vw;
}

label {
  font-size: 2vw;
  padding: .5vw;
}

input {
  padding: 1vw;
  border-radius: 4vw;
  border-color: white;
  margin: .5vw;
  font-size: 1.8vw;
}

.form-button {
  background-color: white;
  color: black;
  border-radius: 3vw;
  border: none;
  font-size: 2vw;
  font-weight: bold;
  margin: 1vw;
  width: 29vw;
  height: 4vw;
  align-self: center;
  margin: 1vw 0 0 0;
}

.form-textarea {
  padding: 1vw;
  border-radius: 3vw;
  border-color: white;
    margin: 0 0 1vw 0;
}

.form-button:hover {
  background-color: rgb(37, 172, 191);
}

.form-button:active {
  box-shadow: 8px 10px 8px antiquewhite;
}


/* -------------------- Views_display-catalog --------------------*/

.views-header {
  display: flex;
  font-weight: bold;
font-family: "Rammetto One";
  font-size: 3vw;
    color: rgb(226, 83, 16);
  text-align: center;
  text-shadow: 0px 10px 5px lightgrey;
  margin: 1vw 2vw;
  align-items: center;
  justify-content: space-between;
}

.add {
  font-size: 2vw;
  border-radius: 25px;
  width: 9em;
  /* height: 2.6em; */
  background-color: rgb(226, 83, 16);
  border: none;
  color: white;
  margin: 1vw;
  text-shadow: none;
  font-weight: 100;
}

.add:hover {
  background-color: rgb(10, 171, 192);
}

.add:active {
    box-shadow:  0px 10px 8px lightgrey;
} 

.all-items {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 3vw;
  text-align: center;
  /* text-shadow: 0px 10px 5px lightgrey; */
  margin: 1em;
  align-content: space-between;
  justify-content: center;
  width: 90vw;
}

.individual-item {
  padding: 10px;
  /* background-image: linear-gradient(to right, #d60a3d,  #e25310, #f3d10e); */
  /* background image = no hoover? we sure? */
  background-color: rgb(243, 209, 14);
  color: white;
  border-radius: 25px;
  border: none;
  font-size: 2vw;
  padding: 1vw;
  margin: .5vw;
}

.individual-item:hover {
  background-color: rgb(10, 171, 192);
}

.individual-item:active {
    box-shadow:  0px 10px 8px lightgrey;
} 



/* -------------------- Views_display-catalog, _show-event--------------------*/

.form-dupe {
  display: flex;
  flex-direction: column;
  width: 30vw;
  /* height: 100%; */
  background-color: rgb(243, 209, 14);
  justify-content: space-evenly;
  padding: 02vw 2vw;
  border-radius: 3vw;
  color: white;
  font-weight: bold;
  font-size: 2vw;
  margin: 1vw 1vw;
}

/* -------------------- Views_item_edit, _events_edit--------------------*/
