<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= user.username %>'s Bag
    </title>
</head>

<body>
        <h1>Look at all the magical things in your bag, <%= user.username %>!</h1>
        <button type="submit"><a href="/users/<%=user._id%>/items/new">Add item</a></button>

</body>

</html>