<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title> Explore <%= selectedUser.username%>'s Bag</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

        <div class="views-header">
            <p>
                <%= selectedUser.username%>'s Bag
            </p>
        </div>

        <div class="allUsers-all-items">
            <% selectedUser.catalog.forEach(item=>{ %>
                <p class="allUsers-individual-item">
                    <%= item.name %>
                </p>
                <% }) %>
        </div>
</body>

</html>